@model VaccinationReservationPlatForm.ViewModel.NewsViewModel
@{
}
@{
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[0].Url">@ViewBag.title[0].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[1].Url">@ViewBag.title[1].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[2].Url">@ViewBag.title[2].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[3].Url">@ViewBag.title[3].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[4].Url">@ViewBag.title[4].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.url[5].Url">@ViewBag.title[5].Title</a></h4>
        </div>
    </div>  
}
