@model VaccinationReservationPlatForm.ViewModel.NewsViewModel
@{
}
@{
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[0].Url" target="_blank">@ViewBag.news[0].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[1].Url" target="_blank">@ViewBag.news[1].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[2].Url" target="_blank">@ViewBag.news[2].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[3].Url" target="_blank">@ViewBag.news[3].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[4].Url" target="_blank">@ViewBag.news[4].Title</a></h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="@ViewBag.news[5].Url" target="_blank">@ViewBag.news[5].Title</a></h4>
        </div>
    </div>  
}
