@model VaccinationReservationPlatForm.Models.Person

@{
    ViewData["Title"] = "List";
}



<div style="position:relative; width:700px" >
    <h4><font size="24">個人資料</font></h4>
    <hr />
    <div >
        <dl class="row">
            <dt class="col-sm-3">
                姓名
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonName)
            </dd>
            <dt class="col-sm-3">
                性別
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonSex)
            </dd>
            <dt class="col-sm-3">
                出生日期
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonBirthday)
            </dd>
            <dt class="col-sm-3">
                身分證號
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonIdentityId)
            </dd>
            <dt class="col-sm-3">
                健保卡卡號
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonHealthId)
            </dd>
            <dt class="col-sm-3">
                手機號碼
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonCellphoneNumber)
            </dd>
            <dt class="col-sm-3">
                電子信箱
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonMail)
            </dd>
            <dt class="col-sm-3">
                居住地址
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonAdress)
            </dd>
            <dt class="col-sm-3">
                職業
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PersonJob)
            </dd>
        </dl>
    </div>
    <div class="text-right">
        <a class="btn btn-primary text-center" asp-action="Edit">修改</a>
    </div>
</div>

