@model VaccinationReservationPlatForm.Models.Person

@{
    ViewData["Title"] = "WantedVaccine";
    Person user = ViewData["user"] as Person;
    string Number = ViewBag.Number;
    VaccinationReservationPlatForm.ViewModels.CWantedVaccine wantedd = ViewData["wantedd"] as VaccinationReservationPlatForm.ViewModels.CWantedVaccine;

}

@{
}
<link href="~/css/JerryCss2.css" rel="stylesheet" />
<div style="position:inherit">
    <form action="/UserInfo/WantedVaccine" method="post">

        <table class="table table-borderless tabletitle" style="width:auto;" cellpadding="5" cellspacing="5">
            <tr style="text-align:left;border-top:hidden">
                <td colspan="2"><font class="Wantfont" style="font-display:auto;">疫苗接踵意願登記</font></td>
            </tr>
            <tr>
                <td><font color="red">*</font><label>身分證號</label></td>
                <td class="tdwidth"><input asp-for="PersonIdentityId" style="width: 238px" /></td>
            </tr>
            <tr>
                <td><font color="red">*</font><label>姓名</label></td>
                <td class="tdwidth"><input id="test" asp-for="PersonName" value="@user.PersonName.Trim()" style="width: 238px;" /></td>
            </tr>
            <tr>
                <td><font color="red">*</font><label>手機號碼</label></td>
                <td class="tdwidth"><input asp-for="PersonCellphoneNumber" value="@user.PersonCellphoneNumber.Trim()" style="width:238px" /></td>
            </tr>
            <tr>
                <td style="vertical-align:middle"><font color="red">*</font><label>接踵區域</label></td>
                <td class="tdflex tdwidth">
                    @*<select class="form-select" name="County" style="display: inline-block; width: auto; vertical-align: middle;">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select class="form-select" name="CountyTown" style="display: inline-block; width: auto; vertical-align: middle;">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>*@
                    <div class="form-group mt-3">
                        <select id="county" name="County" required>
                            <option style="display:none" value="">縣市</option>
                        </select>
                        <select id="town" name="CountyTown" required>
                            <option style="display:none" value="">鄉鎮市</option>
                        </select>
                        <select id="road" name="Road" required>
                            <option style="display:none" value="">區段</option>
                        </select>
                        <input type="text" name="CountyTownText" id="CountyTownText" value="" hidden />
                        @*<select id="road">
                                <option style="display:none">區段</option>
                            </select>*@
                    </div>
                </td>
            </tr>
            <tr>
                <td><font color="red">*</font><label>接踵疫苗種類</label></td>
                <td class="tdflex tdwidth">
                    <div id="checked">
                        <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Vaccine" id="BNT" value="1">
                                <label class="form-check-label" for="inlineCheckbox1">BNT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Vaccine" id="AZ" value="2">
                                <label class="form-check-label" for="inlineCheckbox2">AZ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Vaccine" id="Moderna" value="3">
                                <label class="form-check-label" for="inlineCheckbox3">莫德納</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Vaccine" id="MVC" value="4">
                                <label class="form-check-label" for="inlineCheckbox4">高端</label>
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="text-right">
                <td></td>
                <td><input type="submit" value="送出" id="submit" class="btn btn-primary" /></td>
            </tr>
        </table>
        <div id="test"></div>
    </form>
</div>

@section Scripts {

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.3/jquery.csv.min.js"></script>
    <script src="~/js/Location.js"></script>
    <script>

        //$(document).ready(GetUserDefaultAdress());
        //$(document).ready(GetVaccines());


        window.onload = function () {
            GetUserDefaultAdress();
            //GetVaccines();
            //GetWantedVaccine();
        }


        function GetUserDefaultAdress() {

            let userAddress = @Json.Serialize(Model.PersonAdress);
            if (userAddress == null) {
                return;
            }
            function SetSelect(select) {

                let timeid = setInterval(function () {
                    $(select).children().each(function () {
                        let selectText = $(this).text();
                        let selectValue = $(this).val();
                        if (userAddress.indexOf(selectText) != -1) {
                            //$(this).attr('selected', true);
                            $(this).parent().val(selectValue).change();
                            return;
                        }
                    });
                }, 100);

                $(select).change(function (event) {
                    if ($(this).val() != 'null') {
                        clearInterval(timeid);
                        $(this).off(event);
                    }
                })
            }

            SetSelect('#county');
            SetSelect('#town');
            SetSelect('#road');
        };


        function GetWantedVaccine() {

                    var Number = @ViewBag.Number;
                    const n = Number.toString();
                    if (n.includes("1")) {
                        $("#BNT").attr('checked', 'checked')
                    };
                    if (n.includes("2")) {
                        $("#AZ").attr('checked', 'checked')
                    };
                    if (n.includes("3")) {
                        $("#Moderna").attr('checked', 'checked')
                    };
                    if (n.includes("4")) {
                        $("#MVC").attr('checked', 'checked')
                    };



        };

        function GetVaccines() {
            let url = '@Url.Content("~/UserInfo/GetVaccine")';
            let data = {};
            $.get(url, data, function (data) {

                $('#test').html(data);
                $(data).each(function () {
                    let vaccineName = this.vaccineName;
                    let vaccineId = this.vaccineId;
                    if (vaccineName == "高端") {
                        vaccineName = "MVC"
                    };
                    if (vaccineName == "莫德納") {
                        vaccineName = "Moderna"
                    };
                    var item0 = '<div class="form-check form-check-inline">';
                    var item = ' <input class="form-check-input" type="checkbox" id="' + vaccineName + '" name="Vaccine" value="' + vaccineId + '">';
                    var item2 = '<label class="form-check-label">' + vaccineName + '</label> ';


                    $('#checked').append(item0);
                    $('#checked div:last-child').append(item).append(item2);

                });
            });
        };


    </script>
    <script type="text/javascript">

        var CountyTownName = "";

        $('#submit').on('click', function () {
            CountyTownName = $('#town').find("option:selected").text();
            $('#CountyTownText').attr('value', CountyTownName.toString());
        });

        var Number = @ViewBag.Number;
            const n = Number.toString();
            if (n.includes("1")) {
                $("#BNT").attr('checked', 'checked')
            };
            if (n.includes("2")) {
                $("#AZ").attr('checked', 'checked')
            };
            if (n.includes("3")) {
                $("#Moderna").attr('checked', 'checked')
            };
            if (n.includes("4")) {
            $("#MVC").attr('checked', 'checked')

            };

    </script>

}