@model IEnumerable<VaccinationReservationPlatForm.ViewModels.EachTime>
@{
    ViewData["Title"] = "Default";
    Layout = "_LayoutTime";


}
@{
    //即使Views/Shared目錄下有_Layout.cshtml及_ViewStart.cshtml兩個檔案
    //ViewComponents預設不套用Master Page，有需要得自己指定↓不過應該沒人在ViewComponents套Layout就是
    //Layout = "_Layout";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.時段)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.預約狀態)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string date = item.date.ToString("yyyy-MM-dd");

            var parms = new Dictionary<string, string>
{
                { "date", date},
                { "startTime", item.startTime.ToString()}
            };


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.日期)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.時段)
                </td>
                <td>
                    <button class="btn btn-primary" data-date="@item.date" data-startTime="@item.startTime" data-timePart="@item.時段">@item.預約狀態</button>
                    @*<button class="btn btn-primary" data-time="@{new { date = item.date, startTime = item.startTime, timePaert = item.時段 };}">@item.預約狀態</button>*@

                    @*@Html.DisplayFor(modelItem => item.預約狀態)
                        如果狀態是不能預約改成 btn-alert
                        且不能點擊(z-index):已使用js判別
                    *@
                </td>
                @*<td>
                    todo:button設置呼叫controller 使用Session儲存用戶點選日期&時間，並關閉視窗，
                        <a asp-action="Edit" asp-route-id="@item.日期">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.日期">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.日期">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $('.btn').click(function () {
                let bookState = $(this).text()
                if (bookState == "可預約") {

                //console.log($(this).data('time'));
                    let url = '@Url.Content("~/Reservation/UserTimeSelect")'
                    let data = {
                        date: $(this).data('date'),
                        startTime: $(this).data('starttime'),
                        timePart: $(this).data('timepart'),
                    }
                    console.log($(this).data('timepart'))
                    $.post(url, data)
                        .done(function (result) {
                            //console.log(result)
                            window.close();
                        })
                }
                else {
                    alert("此時段預約已滿，請選擇其他時段");
                }

            })
        })

    </script>

}


