@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string vad = ViewBag.vad;
    string userName = ViewBag.Name;
    string userEmail = ViewBag.Email;
    string userPhome = ViewBag.Phone;
    string userAddress = ViewBag.Address;
    DateTime? userBirthday = ViewBag.Birthday;
    string userBirthdayreal = ViewBag.Birthdayreal;
    string userSex = ViewBag.Sex;
    string login = ViewBag.login;
}

<link href="~/css/JerryCss2.css" rel="stylesheet" />

@{
    <section id="portfolio" class="portfolio">

        @*<div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="link-preview portfolio-lightbox" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">App 1</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Web 3</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">App 2</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-4.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Card 2</a></h4>
                            <p>Card</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-5.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Web 2</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-6.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">App 3</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-7.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Card 1</a></h4>
                            <p>Card</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-8.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Card 3</a></h4>
                            <p>Card</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/portfolio-9.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">Web 1</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>*@
    </section><!-- End Portfolio Section -->
    <!-- ======= Testimonials Section ======= -->
<section id="testimonials2">
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>問與答Q&A</h2>
                <p>如有問題請見Q&A或線上客服為您解答。</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <font class="fontQA">冠狀病毒（Coronavirus [CoV]）為具外套膜（envelope）的病毒，在電子顯微鏡下可看到類似皇冠的突起因此得名。</font>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                <br />
                                <br />
                                <br />
                                <br />
                            </p>
                            <img src="https://i.imgur.com/xvmZImc.jpg" class="testimonial-img" alt="">
                            <h3>Q1．什麼是冠狀病毒？</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <font class="fontQA">人類感染冠狀病毒以呼吸道症狀為主，包括鼻塞、流鼻水、咳嗽、發燒等一般上呼吸道感染症狀，但嚴重急性呼吸道症候群冠狀病毒（SARS-CoV）、中東呼吸症候群冠狀病毒（MERS-CoV）與新型冠狀病毒（SARS-CoV-2）感染後比一般人類冠狀病毒症狀嚴重，部分個案可能出現嚴重的肺炎與呼吸衰竭等。</font>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="https://i.imgur.com/xvmZImc.jpg" class="testimonial-img" alt="">
                            <h3>Q2．冠狀病毒屬會造成什麼樣的人類疾病？</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <font class="fontQA">除已知會感染人類的病毒以外，其他的動物包括蝙蝠、豬、牛、火雞、貓、狗、雪貂等都有可能感染特定的動物冠狀病毒。而且還有些零星的動物傳染給人類的報告。</font>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                <br />
                                <br />
                                <br />
                                <br />
                            </p>
                            <img src="https://i.imgur.com/xvmZImc.jpg" class="testimonial-img" alt="">
                            <h3>Q3．冠狀病毒會造成動物的疾病嗎？</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <font class="fontQA">這是2019年底在中國湖北省武漢市被發現的一個新的冠狀病毒。最初是世界衛生組織於2019年12月31日接獲報告，中國當局在湖北省武漢市發現40多人感染一種新的病毒。這病毒是一種之前沒有鑑定出來過的冠狀病毒，所以世界衛生組織暫時將之命名為2019新型冠狀病毒。</font>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                <br />
                                <br />
                            </p>
                            <img src="https://i.imgur.com/xvmZImc.jpg" class="testimonial-img" alt="">
                            <h3>Q4．2019新型冠狀病毒是什麼？是怎麼被發現的？</h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <a href="/UserInfo/QandA" style="color:black"><font size="16" style="font-style:normal">更多Q&A</font></a>
                                <br />
                            </p>
                            <a href="/UserInfo/QandA" style="color:black"><i class="far fa-arrow-circle-right" style="font-size:50px"></i></a>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
</section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact ">
        <div class="container">
            <div id="unloginform">
                <div id="hero" class="d-flex flex-row align-items-center justify-content-center" style="margin-top: 2px !important;">
                    <div class="box d-flex flex-column align-items-center justify-content-center" style="background-color: #CCCCCC; border-radius:50px; box-shadow: 0 1px 10px 0 #222; " data-aos="fade-up">
                        <h1 style="color:#000000">個人資訊</h1>
                        <span style="color:#000000">請先登入在檢視您的個人資訊</span>
                        <div style="padding:40px 20px 0px 20px">
                            <div style="min-width:150px">
                                <a  class="login-btn"  asp-controller="UserInfo" asp-action="Login" style="min-width:150px;">登入</a>
                            </div>
                            @*<a asp-controller="UserInfo" asp-action="Login" class="btn-get-started scrollto loginbtn" style="padding: 0px 30px 0px 30px;; border-radius: 50px;">
               <span class="material-icons loginspan">
                   arrow_right_alt
               </span>
        </a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div id="loginform">
                <div class="section-title">
                    <h2>個人資訊</h2>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-10">
                        <div class="info-wrap">
                            <div class="row">
                                <div class="col-lg-4 info">
                                    <i class="bi bi-person"></i>
                                    <h4>姓名:</h4><input type="text" id="logintest" value="@login" hidden/>
                                    <p>@userName</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-gender-ambiguous"></i>
                                    <h4>性別:</h4>
                                    <p>@userSex</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-calendar-month"></i>
                                    <h4>出生日期:</h4>
                                    <p>@userBirthday@userBirthdayreal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="info-wrap">
                            <div class="row">
                                <div class="col-lg-4 info">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>居住區域:</h4>
                                    <p>@userAddress</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-envelope"></i>
                                    <h4>電子信箱:</h4>
                                    <p>@userEmail</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-phone"></i>
                                    <h4>手機號碼:</h4>
                                    <p>@userPhome</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 divbtn" align="center">
                        <a href="/UserInfo/Edit" class="btn btn-primary editbutton">修改個人資料</a>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center" hidden>
                    <div class="col-lg-10">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" id="vadtext" value="@vad" hidden />
    </section><!-- End Contact Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>團隊</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>徐耘</h4>
                        <span>組長</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-3.jpg" alt="">
                        <h4>陳一辰</h4>
                        <span>組員</span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-2.jpg" alt="">
                        <h4>何佩蓉</h4>
                        <span>組員</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-3.jpg" alt="">
                        <h4>李函霖</h4>
                        <span>組員</span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->


}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $('#name').attr('value', @vad);
    //$('#loginform').hide();
    //$('#unloginform').show();
    $(document).ready(function () {
        var bool = $('#name').val();
        if (bool == "false") {
            $('#loginform').hide();
            $('#unloginform').show();
            $('#Logout').hide();
        };
        if (bool == "true") {
            $('#loginform').show();
            $('#unloginform').hide();
            $('#Logout').show();
        };

        login();
    });

    function login() {
        var logintest = $('#logintest').val();
        var reset = "";
        if (logintest == "yes") {
            Swal.fire(
                '您好！@userName。',
                '',
                'success'
            )
            $('#logintest').val() = reset;
        }
    }
</script>


